.projectCard {
    max-width: 480px;
    max-height: auto;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(42, 46, 47);
}

.projectCard img {
    border-radius: 5px;
}

.projectCardBody {
    background-color: rgb(42, 46, 47);
    color: rgb(232, 230, 227);
    padding-left: 0px;
    padding-right: 0px;
}

.projectCardList {
    margin-bottom: 10px;
    border: 1px;
    border-radius: 0px;
    border-color: rgb(37, 40, 41);
    border-top-style: solid;
    border-bottom-style: solid;
}

.projectCardListItem {
    border: 2px;
    border-color: rgb(42, 46, 47);
    background-color: rgb(42, 46, 47);
    color: rgb(232, 230, 227);
}

.projectCard Button {
    background-color: rgb(75, 75, 75);
    border-color: rgb(60, 60, 60);
}

.projectCardFooter {
    background-color: rgb(42, 46, 47);
    color: rgb(232, 230, 227);
}

.projectCard CardLink {
    color: rgb(232, 230, 227);
}

.projectCard:hover {
    border-color: rgb(189, 189, 189);
    box-shadow: 0 0 20px rgba(255, 255, 255, .6);
    transition: all 250ms ease;
}